<h2 class="mat-display-2 font-weight-bold my-4 text-center">La passe au handball</h2>

<!--<div class="row justify-content-center align-items-center my-5">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-8 mx-auto">-->
<!--      <ul class="list-group list-group-lg text-center">-->
<!--        <li class="list-group-item list-group-item-danger my-4">Jambe gauche devant pour les droitiers (ou inverse)</li>-->
<!--        <li class="list-group-item list-group-item-danger my-4">Coude à 90°</li>-->
<!--        <li class="list-group-item list-group-item-danger my-4">Aller chercher en arrière avant de lancer</li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->

<div class="row my-5">
  <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center">
    <p class="text-center my-4">
      <b class="h5">Mannechez Clarisse</b>
    </p>
    <p class="text-center my-4">
      <b class="h5"><a href="mailto:clarissemannechez@student.vinci.be">clarissemannechez@student.vinci.be</a></b>
    </p>
    <p class="text-center my-4">
      <b class="h5"><u>Objectif</u> : amélioration de la technique de passe en handball.</b>
    </p>
  </div>
  <div class="col-sm-4">
    <img src="assets/accueil.jpg" id="img" style="max-width: 100%;">
    <p class="h5 text-center my-2">HME2 : Coordonner et enchainer des mouvements et des gestes avec manipulation d'objets pour finaliser une action globale</p>
  </div>
  <div class="col-sm-4 d-flex flex-column align-items-center justify-content-center">
    <p class="text-center my-4">
      <b class="h5">Mr Devillers Yves</b> <br>
      <b class="h5"><a href="mailto:Yves.devillers@vinci.be">Yves.devillers@vinci.be</a></b>
    </p>
    <p class="text-center my-4">
      <b class="h5">Mme Deghorain Louise </b> <br>
      <b class="h5"><a href="mailto:Louise.deghorain@vinci.be">Louise.deghorain@vinci.be</a></b>
    </p>
    <p class="text-center my-4">
      <b class="h5">Mr Pecoraro Stefano</b> <br>
      <b class="h5"><a href="mailto:Stefano.pecoraro@vinci.be">Stefano.pecoraro@vinci.be</a></b>
    </p>
  </div>
</div>





