<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Exemple prof">
    <h2 class="mat-display-2 font-weight-bold my-4 text-center">Exemple prof</h2>
    <div class="row justify-content-center align-items-center my-5">

    </div>
  </mat-tab>
  <mat-tab label="Exemple élève">
    <h2 class="mat-display-2 font-weight-bold my-4 text-center">Exemple élève</h2>
    <div class="row justify-content-center align-items-center my-5">
    </div>
  </mat-tab>
  <mat-tab label="Exemple professionnel">
    <h2 class="mat-display-2 font-weight-bold my-4 text-center">Exemple professionnel</h2>
    <div class="row justify-content-center align-items-center my-5">
      <iframe width="1280" height="600" src="https://www.youtube.com/embed/VrDkFC3yZvs?start=19" frameborder="0" allowfullscreen></iframe>
    </div>
  </mat-tab>
</mat-tab-group>
